/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]ser[Ss]ettings/
*.private
*.private.meta
^*.private.[0-9]+$
*.private.[0-9]+.meta
**/Assets/AssetStoreTools
**/assets/assetstoretools
/Assets/Plugins/Editor/JetBrains*
.vs/
.gradle/
exportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
sysinfo.txt
*.apk
*.unitypackage
